<h1>Display your Pirate here</h1>

  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4><br>


<h2>Display your first ship here</h2>
  <% ship = @ships[0] %>
  <p>Name: <%= ship.name %></p><br>
  <p>Type: <%= ship.type %></p><br>
  <p>Booty: <%= ship.booty %></p><br>

<h2>Display your second ship here</h2>

<% ship = @ships[1] %>
  <p>Name: <%= ship.name %></p><br>
  <p>Type: <%= ship.type %></p><br>
  <p>Booty: <%= ship.booty %></p><br>
